* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(204, 157, 248);
}

.card {
    background-color: rgba(172, 115, 169, 0.5);
    width: 600px;
    margin: 30px auto 16px auto;
    padding: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

img.logo-dir {
    float: right;
}

img.logo-esq {
    float: left;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(58, 0, 112)
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255)
}